:root {
  --color-primary-dark: #011c44;
  --color-primary-light: #ffffff;
  --color-secondary-light: #4a4a4a;
  --color-secondary-dark: #000000;
  --color-shadow: #a8c6f561;
  --color-brand: #2b7fff;
}